.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerInnerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}
.headerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.searchbar {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
  padding: 9px 15px 9px 15px;
  width: 180px;
}
.searchbarInput {
  border: none;
  outline: none;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b0b0b0;
  width: 90%;
  padding-right: 5px;
}
.profilePicture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.notificationIcon {
  cursor: pointer;
}
