.productContainer {
  height: 256px;
  width: 480px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
}
.productHeading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.productRange {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #858585;
  margin-right: 5px;
}
.topInternalProductContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.range {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bottomInternalproductContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.circle {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  margin-right: 10px;
}
.productLabel {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.percentage {
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #858585;
  margin: 5px 0px 15px 20px;
}
